body{
    margin:0%;
}
#main{
    display: grid;
    grid-template-areas: "header header header header"
                         "nav nav  nav nav"
                         "section section aside aside"
                         "footer footer footer footer";
grid-template-rows: 230px 50px 300px 100px;
grid-template-columns: 25vw 25vw 25vw 25vw;

}
header{
    grid-area: header;
    background-color:white;
    display:flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
header img{
    width: 17%;
}
nav{
    grid-area: nav;
    background-color: lime;
}
section{
    grid-area: section;
    background-color: palevioletred;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
section>img{
    width:400px;
    height: auto;
}
aside{
    grid-area: aside;
    background-color: rgb(224, 221, 6);
}
footer{
    grid-area: footer;
    background-color: rgb(230, 23, 23);
}